[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.3"
asgiref = "==3.7.2"
"backports.zoneinfo" = "==0.2.1"
sqlparse = "==0.4.4"
typing-extensions = "==4.7.1"
tzdata = "==2023.3"

[dev-packages]

[requires]
python_version = "3.8"
